@model BoardGame1.Models.ViewModels.DetailsGame
@{
    ViewBag.Title = "View";
}

<a href="/Game/List">Go back to list</a>
<br />
<a href="/Game/Edit/@Model.SelectedGame.GameId">Update</a>
<br />
<a style="color:#ab2020;" href="/Game/DeleteConfirm/@Model.SelectedGame.GameId">Delete</a>
<h2>@Model.SelectedGame.GameName</h2>
<div>Rent Price: @Model.SelectedGame.GamePrice $</div>
<div>Rental Order: @Model.SelectedGame.RentalId</div>
<div>Rental Date: @Model.SelectedGame.RentDate</div>

<div>
    <h2>Memberships Related Game for @Model.SelectedGame.GameName:</h2>
    @foreach (var membership in Model.RelatedMemberships)
    {
        <p>
            <a href="/Membership/Details/@membership.MembershipId">@membership.FirstName @membership.LastName</a>
         <a style="color:#ab2020;" href="/Game/Unassociate/@Model.SelectedGame.GameId?MembershipId=@membership.MembershipId">[x]</a><br />
        </p>
    }

    <div>
        <h4>Membership rent new game @Model.SelectedGame.GameName</h4>
        <form method="POST" action="/Game/Associate/@Model.SelectedGame.GameId">
            <select name="MembershipId">
                @foreach (var membership in Model.AvailableMemberships)
                {
                    <option value="@membership.MembershipId">@membership.FirstName @membership.LastName</option>
                }

            </select>
            <input type="submit" value="Associate Keeper" />
        </form>
    </div>
</div>