@model BoardGame1.Models.ViewModels.UpdateGame
@{
    ViewBag.Title = "Edit";
}

<h2>Update Game</h2>

<form action="/Game/Update/@Model.SelectedGame.GameId" method="POST">
    <div style="display:none;">

        <input type="text" name="GameId" value="@Model.SelectedGame.GameId" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="GameName" value="@Model.SelectedGame.GameName" />
    </div>
    <div>
        <label>Price ($):</label> <input type="number" name="GamePrice" value="@Model.SelectedGame.GamePrice" />
    </div>
    <div>
        <label>Rental Order:</label>
        <select name="RentalId">
            @foreach (var rental in Model.RentalOptions)
            {
                <option value="@rental.RentalId">Rental ID:  @rental.RentalId Rental Date: @rental.RentDate</option>
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Update Game" />

    </div>
</form>